section {
  margin: 20px 0 20px 0;
}

textarea {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

/* Logo & Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container {
  display: inline-flex;
  flex-direction: column;
}

#logo-text {
  padding-top: 15px;
  padding-bottom: 5px;
}

#mm-logo {
  width: 100%;
}

/* EIP6963 Section */

.eip6963-providers {
  max-height: 770px;
  overflow: auto;
}

/* EIP6963 Warning Banner */

.warning-message {
  min-height: 32px;
  border: 1px solid #a5bc22;
  color: #24292e;
  background: #fcf2f3;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
  background-color: #dddd19;
}
.warning-message-icon {
  margin-right: 8px;
  flex: 0 0 auto;
}
.warning-message-text {
  overflow: auto;
}


/* Encrypt/Decrypt */

#encryptMessageInput {
  margin-bottom: 1rem;
}

.error-div {
  margin-bottom: 12px;
}

.error-message {
  min-height: 32px;
  border: 1px solid #e88f97;
  color: #24292e;
  background: #fcf2f3;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
}
.error-message-icon {
  margin-right: 8px;
  flex: 0 0 auto;
}
.error-message-text {
  overflow: auto;
}

.warning-invisible {
  display: none;
}
